{% extends "base.html" %}
{% block content %}

    <form id="ListsForm" method="POST" onsubmit="clearForm()">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
{#    {{ form.name.label }} {{ form.name(class='some-css-class') }}#}
    {{ form.add_list.label }} {{ form.add_list(class='form-control-plaintext', autofocus=True) }}
    {{ form.submit(class='btn btn-primary mt-2') }}
    </form>
    <p>{{ status }}</p>

{#    <script>#}
{#    function clearForm() {#}
{#        newListString = document.getElementById('ListsForm')[1]#}
{#        newListString.value = ''#}
{#        console.log('cleared')#}
{#    }#}
{#    </script>#}
{% endblock %}
